Source: xenta-psdthumbnailer
Section: gnome
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: http://github.com/xentaoslinux/xenta-psdthumbnailer
Vcs-Browser: http://github.com/xentaoslinux/xenta-psdthumbnailer.git

Package: xenta-psdthumbnailer
Architecture: all
Depends: imagemagick
Description: Penampil Berkas *.PSD di Nemo File Manager.
 Penampil Berkas *.PSD di Nemo File Manager untuk Xenta OS.
